    <form [formGroup]="playerForm" (ngSubmit)="submitPlayerForm()" #resetPlayerForm="ngForm" novalidate>
      <mat-card>
        <h3 class=text-center style="font-weight: normal;">Add Player</h3>

        <!-- Player name -->
        <mat-form-field>
          <mat-label>Player</mat-label>
          <input matInput type="text" placeholder="Player Name" formControlName="player">
            <mat-error *ngIf="handleError('player', 'required')">
              Please provide a <strong>player name</strong>
            </mat-error>
        </mat-form-field>

        <!-- Player Rank -->
        <mat-form-field>
          <mat-label>Rank</mat-label>
          <mat-select formControlName="rank">
            <mat-option>---</mat-option>
            <mat-option value=1>1</mat-option>
            <mat-option value=2>2</mat-option>
            <mat-option value=3>3</mat-option>
            <mat-option value=4>4</mat-option>
            <mat-option value=5>5</mat-option>
            <mat-option value=6>6</mat-option>
            <mat-option value=7>7</mat-option>
            <mat-option value=8>8</mat-option>
            <mat-option value=9>9</mat-option>
            <mat-option value=10>10</mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('rank', 'required')">
              Please provide a <strong>rank</strong>
            </mat-error>
        </mat-form-field>

        <!-- Player score -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Score" formControlName="score">
          <mat-error *ngIf="handleError('score', 'required')">
            Please provide a <strong>score</strong>
          </mat-error>
        </mat-form-field>
  
        <!-- Player time -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Time" formControlName="time">
          <mat-error *ngIf="handleError('time', 'required')">
            Please provide a <strong>time</strong>
          </mat-error>
        </mat-form-field>
  
        <!-- Favourite Game -->
        <mat-form-field class="example-full-width">
            <mat-label>Favourite Game</mat-label>
            <mat-select formControlName="favouriteGame">
              <mat-option>---</mat-option>
              <mat-option value="Bioshock">Bioshock</mat-option>
              <mat-option value="Amnesia: The Dark Descent">Amnesia: The Dark Descent</mat-option>
              <mat-option value="Tomb Raider">Tomb Raider</mat-option>
              <mat-option value="Fallout NV">Fallout NV</mat-option>
              <mat-option value="Fallout 4">Fallout 4</mat-option>
              <mat-option value="Portal">Portal</mat-option>
              <mat-option value="Portal 2">Portal 2</mat-option>
              <mat-option value="Super Mario">Super Mario</mat-option>
              <mat-option value="Grand Theft Auto V">Grand Theft Auto V</mat-option>
              <mat-option value="Dead Space">Dead Space</mat-option>
              <mat-option value="Tetris">Tetris</mat-option>
            </mat-select>
            <mat-error *ngIf="handleError('favouriteGame', 'required')">
                Please select a <strong>game</strong>
            </mat-error>
        </mat-form-field>

        <!-- Status -->
        <mat-form-field class="example-full-width">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option>---</mat-option>
            <mat-option value=false>
              Unavailable
            </mat-option>
            <mat-option value=true>
              Available
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('status', 'required')">
              Please select the <strong>status</strong>
          </mat-error>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
          <button mat-flat-button color="secondary" [routerLink]="['/list-player']">Cancel</button>
        </div>
      </div>
    </mat-card>
</form>
